<?xml version='1.0' encoding='utf-8'?>
<widget id="es.almilo.nxtr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NxtrApp</name>
    <description>
        The Next Train awesome mobile App
    </description>
    <author email="almilo@almilo.es" href="http://almilo.es/">
        almilo.es
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
